<!DOCTYPE html>
<html>
  <head>
    <title>Fmovies</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/navbar' %>
    <div class="container">
      <h1>Latest movies</h1>
      <div class="row">
        <%= render partial: 'movies/movie', collection: @movies, as: :movie %>
      </div>
    </div>
  </body>
</html>
